<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futures.admin.mapper.SysDeptMapper">
    <select id="selectDeptTree" resultType="com.futures.admin.entity.SysDept">
        SELECT * FROM sys_dept WHERE deleted = 0 ORDER BY order_num
    </select>
</mapper>
