[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
expire_logs_days=30
max_connections=500
innodb_buffer_pool_size=512M
innodb_log_file_size=128M
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
